extends layouts/main
include mixins/videoBlock

block content 
    .home__videos
        each demoVideo in videos
            +videoBlock({
                id: demoVideo.id,
                title: demoVideo.title,
                view: demoVideo.view,
                videoFile: demoVideo.fileUrl
            })
            +videoBlock({
                id: demoVideo.id,
                title: demoVideo.title,
                view: demoVideo.view,
                videoFile: demoVideo.fileUrl
            })
            +videoBlock({
                id: demoVideo.id,
                title: demoVideo.title,
                view: demoVideo.view,
                videoFile: demoVideo.fileUrl
            })