extends layouts/main
include mixins/videoBlock

block content 
    .video
        each demoVideo in videos
            +videoBlock({
                title: demoVideo.title,
                view: demoVideo.view,
                videoFile: demoVideo.videoFile
            })