extends layouts/main

block content 
    .join  
        .form-container
            form(action = routes.join, method = "post")
                input(type = "text", name = "name", placeholder = "Full Name", required = true)
                input(type = "Email", name = "Email", placeholder = "Email", required = true)
                input(type = "Password", name = "Password", placeholder = "Password", required = true)
                input(type = "Password", name = "Password2", placeholder = "Varify Password", required = true)
                input(type = "Submit", value = "Join Now!!!")
            include partials/socialLogIn   