extends layouts/main

block content 
     .form_container
            form(action = "/login", method = "post")
                input(type = "Email", name = "Email", placeholder = "Email")
                input(type = "Password", name = "Password", placeholder = "Password")
                input(type = "Submit", value = "Log In")