extends layouts/main
include mixins/videoBlock

block content 
    .search_header
        h3 Searching for:  #{searchingBy}
    .search_videos
        if videos.length == 0
            h4 No Videos Found
        each demoVideo in videos
            +videoBlock({
                title: demoVideo.title,
                view: demoVideo.view,
                videoFile: demoVideo.videoFile,
                id : demoVideo.id
            })