extends layouts/main
include mixins/videoBlock


block content 
    .user-profile
        .user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.name
    if user.id === loggedUser.id
        .user-profile__button
            a(href=`/user${routes.editProfile}`) 
                button Edit Profile
            a(href=`/user${routes.changePassword}`)
                button Change Password
    .home__videos
        each demoVideo in user.videos
            +videoBlock({
                id: demoVideo.id,
                title: demoVideo.title,
                view: demoVideo.view,
                videoFile: demoVideo.fileUrl
            })
