.video-detail__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .video__info {
      width: 100%;
      max-width: 750px;
      margin-top: 25px;
      button {
        width: 100px;
        margin-bottom: 40px;
      }
      .video__creator{
        a {
          color: #3498db;
          font-size: 500px;
        }
      }
      .video__title,
      .video__views,
      .video__descprition {
        display: block;
        margin-bottom: 15px;
      }
      .video__title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 50px;
      }
      .video__views {
        font-size: 14px;
      }
      .video__descprition {
        font-size: 10px;
        margin-bottom: 30px;
      }
    }
    .video__comments {
      margin-top: 25px;
      text-align: center;
      .video__comments-number {
        font-size: 18px;
      }
      .add__comments {
        margin-top: 25px;
        width: 100%;
        input {
          width: 100%;
        }
      }
      .video__comments-list {
        margin-top: 500px;
        li {
          background-color: #261496;
          color: white;
          padding: 15px;
          border-radius: 20px;
          border-bottom-left-radius: 10px;
          :not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }